.proyects-card{
    height: 100%;
    grid-column: 2/ span 2;
    grid-row: 2/span 3;
    animation-name: rightCard;
    animation-iteration-count: 1;
    animation-duration: 600ms;
    animation-direction: reverse;
}

.head-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 40px 0;
}
.head-container h5{
    font-size: 30px;
    color: var(--text-primary-color);
    padding: 25px;
    display: inline;
}

.head-container a{
    margin-right: 1.39vh;
    color: var(--text-secondary-color);
    flex-basis: 72px;
}

.proyects{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-rows: minmax(200px,1fr);
    gap: 10px;
    padding: 0 30px 50px;
}

.proyects__item{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid rgba(52, 10, 239, 0.378);
    background-color: rgba(154, 154, 255, 0.334);
    cursor: pointer;
}

.proyects__item:hover{
    border: 1px solid rgba(52, 10, 239, 0.378);
    background-color: rgba(154, 154, 255, 0.400);
}
.proyects__item:active{
    background-color:rgba(121, 94, 241, 0.576);
}

.item__proyect-name{
    color: var(--text-primary-color);
    margin: 20px 0;
    font-size: 15px;
}

.item__proyect-info{
    width: fit-content;
    height: fit-content;
    padding: 0 15px;
    color: var(--text-secondary-color);
}


.proyects__item-title-container{
    display: flex;
    position: relative;
    justify-items: flex-start;
    gap: 1vh;
}

.proyects__item-title-container ion-icon{
    align-self: center;
    margin-left: 20px;
}

.item__proyect-branches{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}
.repo-language-color {
    position: relative;
    top: 2px !important;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    background-color: transparent;
}
.item__proyect-branches ion-icon{
    margin: 0;
}
.item__proyect-branches span{
    margin: 0 5px 0 4px;
    position: relative;
    top: -3px;
    color: var(--text-secondary-color);
}


@media (max-width:1130px) {
    .proyects-card{
        grid-column: 1 !important;
        grid-row: 6 !important;
    
    }
    .proyects{
        grid-template-columns: repeat(auto-fit,minmax(90px,70%));
        justify-content: center;
    }
}

@media (max-width:500px){
    .proyects{
        grid-template-columns: repeat(auto-fit,minmax(90px,100%));
    }
}