:root{
   --card-color: #fff;
   --body-color: #e5e7eb;
   --text-primary-color:#000;
   --text-secondary-color:rgb(44, 44, 44);
   --light-blue:rgb(76, 38, 246);
}

a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', "Courier New";
}
*::selection{
    background-color:transparent;
}

.mainConteiner{
    position: relative;
    min-height: 100vh;
    padding: 2rem;
    background-color: var(--body-color);
    display: grid;
    grid-template-columns: repeat(3,minmax(100px, 1fr));
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 10px;
}

@media (max-width:1130px) {
    .mainConteiner{
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(auto-fit,minmax(100px, max-content));
    }
}

.btn-blue{
    background-color: transparent;
    border: 1px solid rgba(145, 145, 255, 0.648);
    padding: 10px;
    border-radius: 3px;
    font-weight:600;
}

.btn-blue:hover{
    background-color: rgba(69, 69, 255, 0.196);
    border: 1px solid var(--light-blue);
}


.card{
    border-radius: .3rem;
    background-color: var(--card-color);
    box-shadow: 0 0 20px -4px rgb(0 0 0 / .1), 0 0 6px -4px rgb(0 0 0 / .1);
    overflow: hidden;
}