.education-card{
    padding: 1.5rem;
    height: fit-content;
    grid-row: 4;
}

.education-card__title{
    font-size: larger;
    color: var(--text-primary-color);
}

.education-card__body{
    border-left: 2px solid var(--text-secondary-color);
    margin: 30px 0;
    height: max-content;
    padding-left: 20px;
    position: relative;
    color: var(--text-secondary-color);
}
.education-card__body div{
    background-color:var(--text-secondary-color);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -6px;
    top: 7px;
}
@media (max-width:990px) {
    .education-card{
        grid-column: 1 !important;
        grid-row: 4 !important;
    
    }
}